body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  background-color: #0d3446;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 15px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content textarea {
  color: rgb(131, 131, 131);
  width: 90%;
  height: 300px;
  margin-bottom: 10px;
  padding: 15px;
  max-height: 500px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 1px 1px 1px #999;
  box-sizing: border-box;
  resize: none;
}

table {
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button-count-again {
  background-color: rgb(13, 52, 70);
  border: 5px solid rgb(15, 129, 223);
  border-radius: 360px;
  height: 200px;
  width: 200px;
  color: whitesmoke;
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.button-count-again:hover {
  border: 15px solid rgb(94, 255, 0);
}

.button-count-again:active {
  background-color: rgb(94, 255, 0);
}