{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Word Counter</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Home</a></h1>
      <h2>Word Counter</h2>
    </header>

    <div class="content">
      <p class="p1-input">Input your text:</p>
      {% comment %} Passing csrf token for POST method {% endcomment %}
      <form method="POST" action="counter">
        {% csrf_token %} 
        <textarea name="text" id="" placeholder="Enter your text here! :)"></textarea>
        <input type="submit" value="Count!">
      </form>
    </div>

    <footer>
      <p class="p-author"><a href="https://github.com/ChristopherChantres/" target="_blank">Christopher Chantres</a></p>
    </footer>
  </body>
</html>