{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Word Counter</title>
  </head>
  <body>
    <h1>Home</h1>
    <h2>Word Counter</h2>
    <p>Input your text</p>
    {% comment %} Passing csrf token for POST method {% endcomment %}
    <form method="POST" action="counter">
      {% csrf_token %} 
      <textarea name="text" id="" cols="100" rows="30"></textarea><br>
      <input type="submit">
    </form>
  </body>
</html>